body {
  background-color: #000000;
  background-image: url("/static/images/black-blur-background-h4nwu6vhfvpk51w6.jpg");
  min-height: 100vh;
  font-family: 'DM Sans', sans-serif;
  background-size: cover;

}


#header {
  padding: 11%;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px rgb(0, 14, 82);
}


.scroll-top .navbar {
  background-color: transparent !important;
  color: white !important;


}

.navbar {
  background-color: rgba(0, 0, 0, 0.8) !important;
  transition-duration: .5s !important;


}

.navbar a {
  color: white;
}



h1 {
  font-size: 45px;
  margin-bottom: 35px;
}

#label-container {
  margin-top: 50px;
}

#label-container label {
  position: relative;
  top: -10px;
  font-size: 20px;
}

#cards {
  text-align: center;
}

.card {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  transition-duration: .2s !important;

}

.card:hover {
  background-color: rgba(1, 50, 32, 0.4);
  color: white;
  width: 13rem !important;
}

#demoo2 {
  background-color: rgba(50, 50, 50, 0.2) !important;
  color: white;
}

#demo:checked+label {
  background-color: rgba(1, 50, 32, 0.6);
}

input[type=checkbox].hidden {
  opacity: 0 !important;
}

/*#demo2:checked+label { this is for the disabled card
  background-color: rgba(1, 50, 32, 0.6);
}*/

.btn {
  transition: margin .2s;
  position: relative;
  right: -5px;
}

img {
  position: relative;
  left: 10px;
  width: 90% !important;
}

h6 {
  font-size: 18px;
}

#demoo2 img {
  filter: grayscale(80%);
}